.button-1{
    color: #FFFFFF;
    background-color: #582CFF;
    transition: background-color 400ms linear;
    outline: transparent solid 2px;
    border: #582CFF solid 2px;
}

.button-1:hover{
    background-color: #4d25dd;
}

.button-2{
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    outline: transparent solid 2px;
    outline-offset: 2px;
    transition: background-color 400ms linear;   
}

.button-2:hover{
    background-color: #ffffff15;
}

.button-disabled{
    color: black;
    background-color: #ffffff68;
    border: 2px solid #999999;
    outline: transparent solid 2px;
    outline-offset: 2px;
    cursor: not-allowed;
}